.card {
    width: 135px;
    border: 4px solid transparent;
    border-radius: 20px;
    padding: 1px;
}

.card.selected {
    border-color : #49df76;
}
.card.card-clickable.selected:hover {
    border-color : #49df76;
}

.card.card-clickable:hover {
    border-color: #f39c4a;
    cursor: pointer;
}

.imgContainer {
    display: inline-block;
    position: relative;
}

.imgContainer .sandglass {
    position: absolute;
    width: 20%;
    bottom: 15px;
    right: 15px;
}

.cooldown {
    margin-top: 10px;
    margin-left: 10px;
}

.MuiPopover-paper .titleLine{
   display: inline-flex;
   flex-direction: row;
}

.MuiPopover-paper .titleLine h6 {
    flex-grow: 1;
}

.MuiPopover-paper .titleLine .bonus {
    margin-right: 5px;
    color: #1ba344;
}

.MuiPopover-paper .description {
    margin-top: 5px;
}

.MuiPopover-paper {
    text-align: justify;
    display: flex;
    padding: 10px;
    max-width: 20em !important;
    flex-direction: column;
    z-index: 3;
    /* width: 150px; */
    /* margin: 15px; */
}

.cardPopover {
    pointer-events: none;
}

/* MuiPaper-root MuiPopover-paper MuiPaper-elevation8 MuiPaper-rounded */