.gameWindow {
    display: inline-block;
    background: url(water.jpg);
    background-size: 8cm;
    overflow: hidden;
}


.circleNumber {
    font-size: 0.2em;
    font-weight: bold;
    font-family: sans-serif;
}

/* prevent selection */
svg text {
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    }