.root {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
}

.gridList {
    flex-wrap: nowrap;
    /* Promote the list into his own layer on Chrome. This cost memory but helps keeping high FPS. */
    transform: translateZ(0);
}

img {
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/** Bottom zone */

.bottomZoneAndTabs {
    overflow: hidden;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    z-index: 0;
    display: inline-flex;
    flex-direction: column;
    
}

.bottomZone {
    
    background-image: url(resources/darker_wood.jpg);
    
    /* border-top: 1px solid #865738; */
    display: flex;
    /* border-top: solid 2px #ffecc8; */
    height: 14.8em;
    width: 100%;
    flex-direction: row;
    overflow: hidden;
}

.bottomZone.hidden {
    height: 0;
}

.tabPanel{
    overflow: hidden;
}

.inventory {
    flex-grow: 8;
    justify-content: center;
    display: inline-flex;
    flex-direction: row;
    margin-left: 10px;
    margin-top: 4px;
    margin-right: 10px;
    overflow-y: hidden;
    overflow-x: auto;
}

.inventory .invScroll {
    display: flex;
    overflow-y: hidden;
    overflow-x: auto;
}

.inventory .invContent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dices {
    border-left: solid #d18451;
    border-right: solid transparent;
    display: flex;
    padding: 20px;
    flex-shrink: 0;
    vertical-align: middle;
    justify-content: center;
    flex-direction: column;
}

.action {
    animation: glow 1s ease-in-out infinite alternate;
}

.action:hover {
    border: solid #f6fdd8;
    background-color: #ffffff41;
    cursor: pointer;
}

.action .die {
    cursor: pointer;
}

/* Animation */

@keyframes glow {
    from {
        border: solid #eedf5c;
    }
    to {
        border: solid #ffffff;
    }
}

/* ---- */

.leftButtons {
    border-right: solid #d18451;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: center;
}

.bottomZone .MuiButton-outlined {
    color: #ffecc8;
    border: solid 2px #ffecc8;
    background-color: #a56941;
    margin: 15px;
}

.bottomZone .MuiButton-outlined.Mui-disabled {
    border: solid 2px #88775d;
    background-color: #8f6143;
    color: #ac936e;
}

.bottomZone .MuiButton-outlined:hover {
    background-color: #7a5034 !important;
}


/** Right panel */

.rightPanel {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 20em;
    background-color: #1b1b1bdd;
}

.playerInfo {
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #fdfdfd;
    border-bottom: solid 1px #dfddd8;
    /* background-color: grey; */
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.playerInfo .title {
    display: flex;
    width: 100%;
    /* justify-content: space-between; */
    flex: auto 1 1;
}

.playerInfo .title .first {
    flex-grow: 1;
}

.playerInfo .title .counter {
    margin-left: 10px;
    margin-right: 10px;
    flex-wrap: wrap;
    vertical-align: baseline;
}

/* Scroll bar */

/* width */

::-webkit-scrollbar {
    width: 14px;
}

/* Track */

::-webkit-scrollbar-track {
    background: #5e4726ee;
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: rgb(226, 163, 46);
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: rgb(253, 211, 95);
}

/** Backdrops */

.backdrop {
    z-index: 2 !important;
    color: '#fff';
}

/** Tabs */

.tabsContainer {
    z-index: 1;
    margin-bottom: -1px;
}

.tabs .MuiTabs-flexContainer{
    background-color: #4f473f;
    border-top: 1px solid #424242;
    border-right: 1px solid #424242;
    border-radius: 20px 20px 0 0;
    display: inline-block;
}

.MuiButtonBase-root.tab {
    border: 1px solid transparent;
    color: #f5e8cf;
    opacity: 1;
}

.MuiButtonBase-root.tab.Mui-selected {
    
    color: #f5e8cf;
    border-top: solid 1px #b18e4e;
    border-right: solid 1px #b18e4e;
    border-left: solid 1px #b18e4e;
    border-radius: 20px  20px 0px 0px;
    background-image: url(resources/darker_wood.jpg);
}

.MuiTabs-indicator {
    background-color: transparent !important;
}